body {
  margin: 0;
  padding: 0;
  background-color: #494969;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 2em;
  margin-bottom: 1em;
  font-size: 2em;
  text-shadow: 0.08em 0.08em #ea3788;
}

.card {
  background-color: #a8d0db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px #f0f757;
  width: 30vw;
  margin-bottom: 2em;
}

.previous, .final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous__card {
  height: 6em;
  border-radius: 10px;
}

.previous__card--button, .final__button {
  width: 50%;
  height: 50%;
  border: 1px solid;
  border-radius: 10px;
  background: #202020;
  color: white;
  box-shadow: 5px 5px #ea3788;
  font-size: 1.5em;
  transition: 0.4s;
}

.previous__card--button:hover, .final__button:hover{
  color: #202020;
  background: #f2f2f2;
}

.previous__card--button:active, .final__button:active{
  transform: scale(1.1);
}

.final {
  display: none;
}

.final__card {
  border-radius: 10px;
  padding: 1em;
}

.final__card--details {
  list-style: none;
  padding: 0;
}

.final__card--details  strong {
  text-shadow: 0.08em 0.08em #ea3788;
}

.final__card--img {
  width: 90%;
  box-shadow: 5px 5px #ea3788;
  border-radius: 5px; 
}